
    <header>
        Логотип меню 
    </header>
<div class="main-all">
    <aside>
        <ul class="sidenav">
            <li class="t1"><a href="./../lecture_2.html">Тема 1. Сутнісна характеристика потенціалу підприємства</a></li>
            <li class="t2"><a href="">Тема 2. Структура і графоаналітична модель потенціалу підприємства</a></li>
            <li><a href="">Тема 3. Формування потенціалу підприємства: поняття і загальна модель</a></li>
            <li><a href="">Тема 4. Особливості формування виробничого потенціалу підприємства</a></li>
            <li><a href="">Тема 5. Конкурентоспроможність потенціалу підприємства</a></li>
            <li><a href="">Тема 6. Теоретичні основи оцінювання потенціалу підприємства</a></li>
            <li><a href="">Тема 7. Методичні підходи до оцінювання потенціалу підприємства</a></li>
            <li><a href="">Тема 8. Оцінювання вартості земельної ділянки, будівель і споруд</a></li>
            <li><a href="">Тема 9. Оцінювання ринкової вартості машин і обладнання</a></li>
            <li><a href="">Тема 10. Нематеріальні активи підприємства і методи їх оцінювання</a></li>
            <li><a href="">Тема 11. Трудовий потенціал підприємства та його оцінювання</a></li>
            <li><a href="">Тема 12. Оцінювання вартості бізнесу</a></li>
            <li><a href="">Тема 13. Прикладні аспекти оцінювання потенціалу підприємства</a></li>
            <li><a href="">Тема 14. Розвиток підприємства: зміст, сучасні концепції та передумови</a></li>
            <li><a href="">Тема 15. Методичні підходи до визначення резервів розвитку підприємства та його потенціалу</a></li>
        </ul>
    </aside>
    <main class="m1">
    </main>

</div>

<script type="module" src="./JS/first.js"></script>
<script type="module" src="./main.js"></script>
